---
import '../styles/global.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Invitación de Boda" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Pinyon+Script&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
    </head>
	<body class="bg-[#f4f6f3] text-gray-800 antialiased selection:bg-[#c4d1c6] selection:text-white">
		<main class="w-full md:max-w-4xl mx-auto bg-[#fafaf9] min-h-screen shadow-2xl relative overflow-hidden">
			<slot />
		</main>
	</body>
</html>
